<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="app.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body>
<div class="app-wrapper" id="app">
        <footer class="form-inner">
            <ul class="sidenav">
                <li
                        v-for="category in categories"
                        v-on:click="selectCategory(category.link,category.id)"
                >
                    <a  href=#>{{ category.name }}</a></li>
            </ul>
            <div class="cart">
                    <i  class="fas fa-shopping-cart" :title="cart[0].text"></i> <span class="cart-product-amount">({{cart[0].count}})</span>
                <div class="products-in-cart">
                    <ul>
                        <li
                                v-for="prodInCart in productsInCart.list"
                        ><span  class="products-in-cart-title">{{prodInCart.product.title}} ({{prodInCart.amount}})</span><div v-on:click="deleteInCart(prodInCart.product.id)" class="delete-product"><i class="fas fa-minus"></i></div></li>
                        <li>Всего: {{productsInCart.amount}} Сумма: {{productsInCart.price}}</li>
                    </ul>
                </div>
            </div>

        </footer>
    <div class="content content-waterfall">
            <div class="content-waterfall-wrapper">
                <div
                        class="content-waterfall-box"
                        v-for="product in products"
                                       >
                    <img :src="product.image">
                    <b><h3>{{product.title}}</h3></b>
                    Цена: {{ product.price}} руб.
                    <span class="addCart"  v-on:click="addInCart(product.id)"><i class="fas fa-cart-plus"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="app.js"></script>
</body>
</html>