body {

    background: url(bg2.png) no-repeat black;
    background-position: top;
    color: white;
}
/*body  {*/
    /*padding: 0 auto;*/
    /*margin:0 auto;*/
    /*width:1200px;*/
/*}*/
/**nav bar**/

ul.sidenav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
    left: 0;ss
}

ul.sidenav li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

ul.sidenav .active a {
    background-color: #4CAF50;
    color: white;
}

ul.sidenav li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

div.content {
    margin-left: 25%;
    height: auto;
}
ul.sidenav {
    width: 100%;
    height: 48px;
    position: fixed;
    margin: 0;
    padding: 0;
    top:0;
    z-index:2;
}
ul.sidenav li a {
    float: left;
    padding: 15px;
}
div.content {margin-left: 0;
    margin-top:57px

}
.update-cart{
    background-color: #555;
    color: white;
}

@media screen and (max-width: 400px) {
    ul.sidenav li a {
        text-align: center;
        float: none;
    }
}
.cart {
    position: fixed;
    right: 5px;
    z-index: 3;
    top: 0px;
    color: black;
    font-size: 28px;
    width: 60px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart-product-amount {
    font-size: 12px;
}
.products-in-cart {}

.addCart {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    color: #585854;
    font-size: 24px;
    bottom: 5px;
    right: 0px;
    width: 50px;
    height: 39px;
}
.addCart:hover,.cart i:hover {
    cursor: pointer;
}
.products-in-cart {
    list-style: none;
    position: fixed;
    color: #585854;
    top: 48px;
    right: 0px;
    background-color: white;
    display: none;
}
.products-in-cart:hover {
    display: block;
}
.products-in-cart-title {
    display: flex;

}
.products-in-cart .delete-product {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height:100%;
    width:50px;
}
.cart:hover .products-in-cart {
    color: white;
    display: block;
}
.products-in-cart ul {
    width: 100%;
    margin: 0;
    padding: 0;

}
.products-in-cart li {
    display: flex;
    justify-content: space-between;
    margin-bottom: -1px;
    padding: 8px 14px;
    color: #000000;
    text-decoration: none;
    border: 1px solid #e5e5e5;
    font-size: 16px;
}
.delete-product {
    color: #db2f21;
}
.products-in-cart li:hover {
    background-color: #f5f5f5;
}
//****//

* {
    margin: 0;
    padding: 0;
}

.content-waterfall {
    color: black;
    width: 100%;
    margin: 0 auto;
}

.content-waterfall-wrapper {
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;

}
.content-waterfall-box img  {
    width: 100%;
    height: 300px;
}
.content-waterfall-box {
    padding: 10px;
    margin-right: 15px;
    flex-basis: 300px;
    width: 250px;
    box-sizing: border-box;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px 0 white;
    transform: translateZ(0);
    background-color: white;
    border-radius: 5px;
    color: inherit;
}
